@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Concert+One&display=swap');
@import url("boxicons/css/boxicons.min.css");

.hero {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: #010300;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: #5A7F78;
}

.hero-text {
    text-align: center;
    height: 300px;
    max-width: 900px;
    font-family: "Chewy", system-ui;
    font-size: larger;
}

.hero-text h1 {
    font-size: 50px;
}

.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

.hero-text span{
    color: #5A7F78;
}

.hero-img {
    width: 500px;
    align-items: right;
}

.explore-more {
    background: #bbdec6;
    padding: 10px 2rem;
    outline: 2.5px solid #bbdec6;
    outline-offset: 3px;
    border: 0;
    color: #010300;
    font-size: 1rem;
    border-radius: 100rem;
    transition: 0.4s;
    font-weight: 600;
    cursor: pointer;
    font-family: "Concert One", system-ui;
    height: auto;
}

.explore-more:hover {
    background: #314C53;
    outline: 2.5px solid #314C53;
    cursor: pointer;
}

@media (max-width: 850px) {
    .hero-img {
        display: none;
    }

    .hero-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    .hero-img {
        display: none;
    }

    .hero-text h1 {
        font-size: 30px;
        max-width: 400px;
    }

    .hero-text p {
        font-size: 14px;
        margin: 15px auto 30px;
    }
}

body.dark-mode {
    background-color: #3C3D37;
    color: #ECDFCC;
}

body.dark-mode .hero {
    background-color: #3C3D37;
    color: #ECDFCC;
}

body.dark-mode .hero-text h1 {
    color: #95bd8b;
}

body.dark-mode .hero-text p {
    color: #ECDFCC;
}

body.dark-mode .hero-text span {
    color: #95bd8b;
}

body.dark-mode .explore-more {
    background: #95bd8b;
    outline: 2.5px solid #95bd8b;
    color: #121212;
    border: 0;
}

body.dark-mode .explore-more:hover {
    background: #ECDFCC;
    outline: 2.5px solid #ECDFCC;
    cursor: pointer;
}

body.dark-mode i {
    color: #95bd8b;
}

@media (max-width: 850px) {
    body.dark-mode .hero {
        background-color: #3C3D37;
    }

    body.dark-mode .hero-text h1,
    body.dark-mode .hero-text p,
    body.dark-mode .hero-text span {
        color: #ECDFCC;
    }
}

@media (max-width: 650px) {
    body.dark-mode .hero {
        background-color: #3C3D37;
    }

    body.dark-mode .hero-text h1,
    body.dark-mode .hero-text p,
    body.dark-mode .hero-text span {
        color: #ECDFCC;
    }

    body.dark-mode .explore-more {
        background: #697565;
    }
}
